@using Microsoft.AspNetCore.Components.Routing

<div class="nav-container @(IsCollapsed ? "collapsed" : "expanded")">
    
    <div class="logo-section" @onclick="ToggleSidebar" title="Klik untuk Buka/Tutup">
        @if (IsCollapsed)
        {
             <img src="images/logo.svg" alt="WM" class="logo-img-small" />
        }
        else
        {
             <img src="images/logo.svg" alt="SHARP" class="logo-img-large" />
        }
    </div>

    <nav class="flex-column">
        
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill"></i>
                @if (!IsCollapsed) { <span class="link-text">Home</span> }
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="stop-summary">
                <i class="bi bi-stop-circle-fill"></i>
                @if (!IsCollapsed) { <span class="link-text">Stop Summary</span> }
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="table-summary">
                <i class="bi bi-table"></i>
                @if (!IsCollapsed) { <span class="link-text">Table Summary</span> }
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="settings">
                <i class="bi bi-gear-fill"></i>
                @if (!IsCollapsed) { <span class="link-text">Settings</span> }
            </NavLink>
        </div>

    </nav>
    
</div>

@code {
    private bool IsCollapsed = true;

    private void ToggleSidebar()
    {
        IsCollapsed = !IsCollapsed;
    }
}