/* 1. CONTAINER UTAMA */
.nav-container[b-ljs6ng1uoh] {
    height: 100vh;
    background-color: white;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    white-space: nowrap;
    position: sticky;
    top: 0;
}

.nav-container.expanded[b-ljs6ng1uoh] { width: 250px; }
.nav-container.collapsed[b-ljs6ng1uoh] { width: 80px; }


.logo-section[b-ljs6ng1uoh] {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.logo-section:hover[b-ljs6ng1uoh] { background-color: #f9fafb; }
.logo-img-large[b-ljs6ng1uoh] { max-width: 150px; max-height: 40px; object-fit: contain; }
.logo-img-small[b-ljs6ng1uoh] { max-width: 40px; max-height: 40px; object-fit: contain; }


.nav-item[b-ljs6ng1uoh] {
    padding: 0 10px;
    margin-bottom: 5px;
}

.nav-link[b-ljs6ng1uoh] {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 12px;
    color: #64748b;
    text-decoration: none;
    transition: all 0.2s;
    font-weight: 500;
    cursor: pointer;
}

.nav-link i[b-ljs6ng1uoh] {
    font-size: 1.4rem;
}


.nav-container.expanded .nav-link[b-ljs6ng1uoh] {
    justify-content: flex-start;
    padding-left: 20px;
}

.nav-container.expanded .nav-link i[b-ljs6ng1uoh] {
    margin-right: 15px;
    min-width: 24px;
    text-align: center;
}


.nav-container.collapsed .nav-link[b-ljs6ng1uoh] {
    justify-content: center;
    padding: 0;
    text-align: center;
}

.nav-container.collapsed .nav-link i[b-ljs6ng1uoh] {
    margin: 0 auto;
    display: block;
}


.nav-link:hover[b-ljs6ng1uoh] {
    background-color: #f1f5f9;
    color: #0d6efd;
}
.nav-link.active[b-ljs6ng1uoh] {
    background-color: #eff6ff;
    color: #0d6efd;
    font-weight: 600;
}